openapi: 3.1.0
info:
  title: Gestione Sala API
  version: 1.0.0
  description: 'Autenticazione: Authorization: Bearer <chiave>. Errori: {error:{code,message,details,requestId}},
    anche per un percorso che non esiste (404 not_found); un metodo che il percorso non ha e'' un 405
    della piattaforma, senza corpo. Risorsa singola: {nomeRisorsa: {...}}; lista d''attesa: entry. Elenchi:
    {data,nextCursor}, limit fino a 200. Intervalli di giorni: from/to. serviceDate YYYY-MM-DD e time
    HH:mm nell''ora del locale; startsAt/endsAt/updatedAt ISO 8601 UTC; timezone IANA. Un id di percorso
    storto e'' 404. Ogni risposta porta X-Request-Id; quelle con una chiave riconosciuta anche X-RateLimit-Limit/Remaining/Reset
    (per la chiave pubblica del widget, il tetto del tuo indirizzo IP); il 429 anche Retry-After. Idempotency-Key:
    legata a chiave API, operazione e corpo; riusata con un altro corpo e'' 422 idempotency_key_reused,
    ancora in corso 409 idempotency_in_progress. Chiavi di prova (gsk_test_, organizzazione di prova):
    ogni risposta JSON porta livemode:false, nessun webhook, messaggio o sincronizzazione SQUADD parte.
    Chiave pubblica del widget (gspk_): solo GET /availability, /availability/slots, /availability/days
    e POST /reservations, dai siti ammessi (CORS, header Origin), con un limite per indirizzo IP; senza
    serviceTags ne'' externalRef, e la prenotazione creata torna senza i dati dell''ospite. Altrove: 403
    forbidden, details.reason publishable_key o origin_not_allowed.'
servers:
- url: https://app.gestionesala.com/api/v1
tags:
- name: Meta
  description: Chi sei, cosa puoi fare, il servizio risponde
- name: Locali
  description: 'I locali che la chiave vede: da qui il venueId'
- name: Configurazione del locale
  description: Turni, chiusure, sale, tavoli, piante, regole e la sala di adesso
- name: Disponibilita'
  description: C'e' posto? E se no, cosa proporre
- name: Prenotazioni
  description: Leggere, creare, confermare, spostare, disdire
- name: Lista d'attesa
  description: Chi non trova posto aspetta e viene richiamato
- name: Ospiti
  description: Riconoscere chi chiama, sincronizzare la rubrica
- name: Eventi e report
  description: Lo storico dei fatti, i consuntivi, l'export delle prenotazioni
- name: Webhook
  description: 'Com''e'' andata ogni consegna, rispedire, provare una destinazione, ruotare il segreto.
    Firma: X-Gestionesala-Signature = v1=HMAC-SHA256(segreto, "v1\n<timestamp>\n<idempotency-key>\n<corpo>"),
    con X-Gestionesala-Timestamp e X-Gestionesala-Idempotency-Key; in una rotazione due firme separate
    da virgola.'
- name: Import
  description: Portare ospiti e prenotazioni da un altro gestionale
paths:
  /me:
    get:
      tags:
      - Meta
      summary: La chiave che sta chiamando
      security:
      - apiKey: []
      operationId: getMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      tags:
      - Meta
      summary: Il servizio e il database rispondono
      operationId: getHealth
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                  time:
                    type: string
                    description: Istante ISO 8601 con fuso
                    format: date-time
                required:
                - status
                - time
        '503':
          description: unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /openapi.json:
    get:
      tags:
      - Meta
      summary: Questa specifica
      operationId: getOpenApi
      security: []
      responses:
        '200':
          description: OpenAPI 3.1
          content:
            application/json: {}
  /venues:
    get:
      tags:
      - Locali
      summary: I locali della chiave
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: listVenues
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Venue'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}:
    get:
      tags:
      - Configurazione del locale
      summary: Un locale
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: getVenue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  venue:
                    $ref: '#/components/schemas/Venue'
                required:
                - venue
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/shifts:
    get:
      tags:
      - Configurazione del locale
      summary: I turni del locale
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: listShifts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/closures:
    get:
      tags:
      - Configurazione del locale
      summary: Le chiusure del locale
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: listClosures
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Closure'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/areas:
    get:
      tags:
      - Configurazione del locale
      summary: Le sale del locale
      security:
      - apiKey: []
      x-required-scope: floor:read
      description: 'Scope: `floor:read`'
      operationId: listAreas
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Area'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/tables:
    get:
      tags:
      - Configurazione del locale
      summary: I tavoli della pianta attiva
      security:
      - apiKey: []
      x-required-scope: floor:read
      description: 'Scope: `floor:read`'
      operationId: listTables
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Table'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/floor-plans:
    get:
      tags:
      - Configurazione del locale
      summary: Le piante del locale
      security:
      - apiKey: []
      x-required-scope: floor:read
      description: 'Scope: `floor:read`'
      operationId: listFloorPlans
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FloorPlan'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/floor-plans/{planId}:
    get:
      tags:
      - Configurazione del locale
      summary: Una pianta intera
      security:
      - apiKey: []
      x-required-scope: floor:read
      description: 'Scope: `floor:read`'
      operationId: getFloorPlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: planId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  floorPlan:
                    $ref: '#/components/schemas/FloorPlanDetail'
                required:
                - floorPlan
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/floor:
    get:
      tags:
      - Configurazione del locale
      summary: La sala adesso
      security:
      - apiKey: []
      x-required-scope: floor:read
      description: 'Scope: `floor:read` e `reservations:read`'
      operationId: getLiveFloor
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveFloor'
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/turn-time-rules:
    get:
      tags:
      - Configurazione del locale
      summary: Quanto resta seduto un tavolo, per coperti
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: listTurnTimeRules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TurnTimeRule'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /venues/{id}/pacing-rules:
    get:
      tags:
      - Configurazione del locale
      summary: Il ritmo degli arrivi
      security:
      - apiKey: []
      x-required-scope: venues:read
      description: 'Scope: `venues:read`'
      operationId: listPacingRules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PacingRule'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /service-tags:
    get:
      tags:
      - Configurazione del locale
      summary: Il catalogo dei tag di servizio
      security:
      - apiKey: []
      x-required-scope: guests:read
      description: 'Scope: `guests:read`'
      operationId: listServiceTags
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceTag'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /availability:
    get:
      tags:
      - Disponibilita'
      summary: C'e' posto a quell'ora per quei coperti
      security:
      - apiKey: []
      x-required-scope: reservations:read
      description: 'Scope: `reservations:read`'
      operationId: getAvailability
      parameters:
      - name: venueId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: serviceDate
        in: query
        required: true
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: time
        in: query
        required: true
        schema:
          type: string
          description: Ora locale del locale, HH:mm
          pattern: ^([01]\d|2[0-3]):[0-5]\d$
      - name: partySize
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  venueId:
                    type: string
                    format: uuid
                  serviceDate:
                    type: string
                    description: Giorno di servizio, YYYY-MM-DD
                    format: date
                  partySize:
                    type: integer
                  timezone:
                    type: string
                    description: Fuso IANA del locale
                  available:
                    type: boolean
                  reason:
                    type: string
                    description: Perche' no, se non c'e' posto
                  alternatives:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                required:
                - venueId
                - serviceDate
                - partySize
                - timezone
                - available
                - alternatives
                description: Se available, porta anche i campi della proposta (time, startsAt...)
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /availability/slots:
    get:
      tags:
      - Disponibilita'
      summary: Tutti gli orari prenotabili del giorno
      security:
      - apiKey: []
      x-required-scope: reservations:read
      description: 'Scope: `reservations:read`. Ogni orario, a passi di 15 minuti dall''apertura del turno,
        e'' uno in cui una prenotazione passerebbe adesso.'
      operationId: listAvailabilitySlots
      parameters:
      - name: venueId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: serviceDate
        in: query
        required: true
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: partySize
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  venueId:
                    type: string
                    format: uuid
                  serviceDate:
                    type: string
                    description: Giorno di servizio, YYYY-MM-DD
                    format: date
                  partySize:
                    type: integer
                  timezone:
                    type: string
                    description: Fuso IANA del locale
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  nextCursor:
                    anyOf:
                    - type: string
                      description: 'Sempre null: tutto in una pagina'
                    - type: 'null'
                required:
                - venueId
                - serviceDate
                - partySize
                - timezone
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /availability/days:
    get:
      tags:
      - Disponibilita'
      summary: Quali giorni hanno posto in un intervallo
      security:
      - apiKey: []
      x-required-scope: reservations:read
      description: 'Scope: `reservations:read`. Al massimo 62 giorni, estremi compresi.'
      operationId: listAvailabilityDays
      parameters:
      - name: venueId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: from
        in: query
        required: true
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: to
        in: query
        required: true
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: partySize
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  venueId:
                    type: string
                    format: uuid
                  from:
                    type: string
                    description: Giorno di servizio, YYYY-MM-DD
                    format: date
                  to:
                    type: string
                    description: Giorno di servizio, YYYY-MM-DD
                    format: date
                  partySize:
                    type: integer
                  timezone:
                    type: string
                    description: Fuso IANA del locale
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        serviceDate:
                          type: string
                          description: Giorno di servizio, YYYY-MM-DD
                          format: date
                        available:
                          type: boolean
                        slotCount:
                          type: integer
                          description: Quanti orari di /availability/slots
                      required:
                      - serviceDate
                      - available
                      - slotCount
                  nextCursor:
                    anyOf:
                    - type: string
                      description: 'Sempre null: tutto in una pagina'
                    - type: 'null'
                required:
                - venueId
                - from
                - to
                - partySize
                - timezone
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reservations:
    get:
      tags:
      - Prenotazioni
      summary: Le prenotazioni, a pagine col cursore
      security:
      - apiKey: []
      x-required-scope: reservations:read
      description: 'Scope: `reservations:read`'
      operationId: listReservations
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: venueId
        in: query
        required: false
        description: Solo questo locale
        schema:
          type: string
          format: uuid
      - name: serviceDate
        in: query
        required: false
        description: Un giorno di servizio, in alternativa a from/to
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: from
        in: query
        required: false
        description: Dal giorno di servizio (compreso)
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: to
        in: query
        required: false
        description: Al giorno di servizio (compreso)
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: status
        in: query
        required: false
        description: Uno o piu' stati
        schema:
          type: array
          items:
            type: string
            enum:
            - created
            - confirmed
            - arrived
            - seated
            - released
            - completed
            - no_show
            - cancelled
        style: form
        explode: true
      - name: guestId
        in: query
        required: false
        description: Solo questo ospite
        schema:
          type: string
          format: uuid
      - name: source
        in: query
        required: false
        description: Solo questa origine
        schema:
          type: string
          enum:
          - phone
          - voice_agent
          - floor
          - waitlist
          - walk_in
          - api
          - import
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      - name: externalRef
        in: query
        required: false
        description: Solo quella col tuo identificativo
        schema:
          type: string
          maxLength: 200
      - name: expand
        in: query
        required: false
        description: guest aggiunge guestDetails (serve anche guests:read), table aggiunge table
        schema:
          type: array
          items:
            type: string
            enum:
            - guest
            - table
        style: form
        explode: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reservation'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Prenotazioni
      summary: Crea una prenotazione
      security:
      - apiKey: []
      x-required-scope: reservations:write
      description: 'Scope: `reservations:write`'
      operationId: createReservation
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: La stessa chiave ripetuta ritrova la risorsa invece di crearne un'altra
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                venueId:
                  type: string
                  format: uuid
                serviceDate:
                  type: string
                  description: Giorno di servizio, YYYY-MM-DD
                  format: date
                time:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                partySize:
                  type: integer
                  minimum: 1
                phone:
                  type: string
                  description: 'Telefono dell''ospite: lo riconosce o lo crea'
                guestName:
                  type: string
                  maxLength: 200
                email:
                  type: string
                  description: Solo con phone; riempie l'ospite se non l'ha gia'
                  format: email
                  maxLength: 254
                firstName:
                  type: string
                  description: Solo con phone; riempie l'ospite se non l'ha gia'
                  minLength: 1
                  maxLength: 100
                lastName:
                  type: string
                  description: Solo con phone; riempie l'ospite se non l'ha gia'
                  minLength: 1
                  maxLength: 100
                serviceTags:
                  type: array
                  maxItems: 20
                  items:
                    type: string
                    description: Nome di un tag del catalogo
                    minLength: 1
                    maxLength: 100
                  description: 'Solo con phone: si aggiungono all''ospite; un nome fuori catalogo e''
                    un 400'
                notes:
                  type: string
                channel:
                  type: string
                  description: 'Da dove arriva, es. sito o Google: finisce in sourceDetail'
                  maxLength: 100
                externalRef:
                  type: string
                  description: Il tuo identificativo, unico nella tua organizzazione
                  maxLength: 200
              required:
              - venueId
              - serviceDate
              - time
              - partySize
      responses:
        '200':
          description: Gia' creata con la stessa Idempotency-Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    anyOf:
                    - $ref: '#/components/schemas/Reservation'
                    - $ref: '#/components/schemas/WidgetReservation'
                required:
                - reservation
        '201':
          description: 'Creata (dalla chiave pubblica del widget: WidgetReservation)'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    anyOf:
                    - $ref: '#/components/schemas/Reservation'
                    - $ref: '#/components/schemas/WidgetReservation'
                required:
                - reservation
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: no_availability, conflict, idempotency_in_progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: idempotency_key_reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reservations/{id}:
    get:
      tags:
      - Prenotazioni
      summary: Una prenotazione
      security:
      - apiKey: []
      x-required-scope: reservations:read
      description: 'Scope: `reservations:read`'
      operationId: getReservation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: expand
        in: query
        required: false
        description: guest aggiunge guestDetails (serve anche guests:read), table aggiunge table
        schema:
          type: array
          items:
            type: string
            enum:
            - guest
            - table
        style: form
        explode: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    $ref: '#/components/schemas/Reservation'
                required:
                - reservation
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Prenotazioni
      summary: Conferma, sposta, cambia stato, tavolo o ospite
      security:
      - apiKey: []
      x-required-scope: reservations:write
      description: 'Scope: `reservations:write`. Gli stati della sala (arrived, seated, released, completed,
        no_show) e tableId/tableCombinationId chiedono anche `floor:write`. Si disdice con DELETE.'
      operationId: updateReservation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: If-Match
        in: header
        required: false
        description: 'L''updatedAt letto: la modifica passa solo se nessuno ha scritto dopo'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceDate:
                  type: string
                  description: Giorno di servizio, YYYY-MM-DD
                  format: date
                time:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                partySize:
                  type: integer
                  minimum: 1
                notes:
                  anyOf:
                  - type: string
                  - type: 'null'
                status:
                  type: string
                  description: Solo le transizioni ammesse; lo stesso stato non cambia niente
                  enum:
                  - confirmed
                  - arrived
                  - seated
                  - released
                  - completed
                  - no_show
                tableId:
                  anyOf:
                  - type: string
                    description: Il tavolo; null lo toglie
                    format: uuid
                  - type: 'null'
                tableCombinationId:
                  anyOf:
                  - type: string
                    description: L'unione di tavoli, in alternativa a tableId
                    format: uuid
                  - type: 'null'
                guestId:
                  anyOf:
                  - type: string
                    description: L'ospite da collegare; null lo stacca
                    format: uuid
                  - type: 'null'
                externalRef:
                  anyOf:
                  - type: string
                    description: Il tuo identificativo; null lo toglie
                    minLength: 1
                    maxLength: 200
                  - type: 'null'
                version:
                  type: string
                  description: 'In alternativa a If-Match: l''updatedAt letto'
                  format: date-time
              required: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    $ref: '#/components/schemas/Reservation'
                required:
                - reservation
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: no_availability, conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Prenotazioni
      summary: 'Disdice: la prenotazione diventa cancelled'
      security:
      - apiKey: []
      x-required-scope: reservations:write
      description: 'Scope: `reservations:write`. Gia'' cancelled: 200 con la prenotazione, nessun effetto.
        Da uno stato che non si disdice (seated, released, completed, no_show): 409 conflict con details.allowedTransitions.'
      operationId: cancelReservation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    $ref: '#/components/schemas/Reservation'
                required:
                - reservation
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waitlist:
    get:
      tags:
      - Lista d'attesa
      summary: Le voci della coda, a pagine col cursore
      security:
      - apiKey: []
      x-required-scope: waitlist:read
      description: 'Scope: `waitlist:read`'
      operationId: listWaitlistEntries
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: venueId
        in: query
        required: false
        description: Solo questo locale
        schema:
          type: string
          format: uuid
      - name: serviceDate
        in: query
        required: false
        description: Un giorno di servizio, in alternativa a from/to
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: from
        in: query
        required: false
        description: Dal giorno di servizio (compreso)
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: to
        in: query
        required: false
        description: Al giorno di servizio (compreso)
        schema:
          type: string
          description: Giorno di servizio, YYYY-MM-DD
          format: date
      - name: status
        in: query
        required: false
        description: Uno o piu' stati
        schema:
          type: array
          items:
            type: string
            enum:
            - waiting
            - called
            - converted
            - cancelled
        style: form
        explode: true
      - name: guestId
        in: query
        required: false
        description: Solo questo ospite
        schema:
          type: string
          format: uuid
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaitlistEntry'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Lista d'attesa
      summary: Mette un ospite in lista d'attesa
      security:
      - apiKey: []
      x-required-scope: waitlist:write
      description: 'Scope: `waitlist:write`'
      operationId: createWaitlistEntry
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: La stessa chiave ripetuta ritrova la risorsa invece di crearne un'altra
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                venueId:
                  type: string
                  format: uuid
                serviceDate:
                  type: string
                  description: Giorno di servizio, YYYY-MM-DD
                  format: date
                partySize:
                  type: integer
                  minimum: 1
                earliestTime:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                latestTime:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                phone:
                  type: string
                guestName:
                  type: string
                  maxLength: 200
              required:
              - venueId
              - serviceDate
              - partySize
              - earliestTime
              - latestTime
              - phone
      responses:
        '200':
          description: Gia' creata con la stessa Idempotency-Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    $ref: '#/components/schemas/WaitlistEntry'
                required:
                - entry
        '201':
          description: Creata
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    $ref: '#/components/schemas/WaitlistEntry'
                required:
                - entry
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: idempotency_in_progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: idempotency_key_reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waitlist/{id}:
    get:
      tags:
      - Lista d'attesa
      summary: Una voce della coda
      security:
      - apiKey: []
      x-required-scope: waitlist:read
      description: 'Scope: `waitlist:read`'
      operationId: getWaitlistEntry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    $ref: '#/components/schemas/WaitlistEntry'
                required:
                - entry
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Lista d'attesa
      summary: Cambia coperti o fascia oraria
      security:
      - apiKey: []
      x-required-scope: waitlist:write
      description: 'Scope: `waitlist:write`. Una voce gia'' richiamata torna in attesa. Le voci convertite
        o tolte non si modificano (409).'
      operationId: updateWaitlistEntry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: If-Match
        in: header
        required: false
        description: 'L''updatedAt letto: la modifica passa solo se nessuno ha scritto dopo'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partySize:
                  type: integer
                  minimum: 1
                earliestTime:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                latestTime:
                  type: string
                  description: Ora locale del locale, HH:mm
                  pattern: ^([01]\d|2[0-3]):[0-5]\d$
                version:
                  type: string
                  description: 'In alternativa a If-Match: l''updatedAt letto'
                  format: date-time
              required: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    $ref: '#/components/schemas/WaitlistEntry'
                required:
                - entry
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Lista d'attesa
      summary: 'Toglie la voce dalla coda: diventa cancelled'
      security:
      - apiKey: []
      x-required-scope: waitlist:write
      description: 'Scope: `waitlist:write`. Ripetuto non cambia niente; una voce gia'' convertita e''
        un 409. Fa partire l''evento waitlist_entry_cancelled.'
      operationId: cancelWaitlistEntry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entry:
                    $ref: '#/components/schemas/WaitlistEntry'
                required:
                - entry
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /waitlist/{id}/convert:
    post:
      tags:
      - Lista d'attesa
      summary: La voce diventa una prenotazione
      security:
      - apiKey: []
      x-required-scope: waitlist:write
      description: 'Scope: `waitlist:write` e `reservations:write`. Stesso ospite e coperti; l''orario
        del richiamo se c''e'' stato, altrimenti l''inizio della fascia. Una voce gia'' convertita risponde
        200 con la sua prenotazione.'
      operationId: convertWaitlistEntry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        description: La stessa chiave ripetuta ritrova la risorsa invece di crearne un'altra
        schema:
          type: string
      responses:
        '200':
          description: Gia' convertita
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    $ref: '#/components/schemas/Reservation'
                required:
                - reservation
        '201':
          description: Convertita
          content:
            application/json:
              schema:
                type: object
                properties:
                  reservation:
                    $ref: '#/components/schemas/Reservation'
                required:
                - reservation
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: no_availability, conflict, idempotency_in_progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: idempotency_key_reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guests:
    get:
      tags:
      - Ospiti
      summary: La rubrica, a pagine col cursore
      security:
      - apiKey: []
      x-required-scope: guests:read
      description: 'Scope: `guests:read`'
      operationId: listGuests
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: q
        in: query
        required: false
        description: Nome, email o cifre del telefono (almeno 3, al massimo 200 caratteri; fino a 8 parole)
        schema:
          type: string
      - name: phone
        in: query
        required: false
        description: Un telefono, qualunque forma
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: Un'email
        schema:
          type: string
      - name: externalRef
        in: query
        required: false
        description: Il tuo identificativo
        schema:
          type: string
      - name: updatedSince
        in: query
        required: false
        description: Solo cio' che e' cambiato dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Guest'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Ospiti
      summary: Crea l'ospite, o aggiorna quello del telefono
      security:
      - apiKey: []
      x-required-scope: guests:write
      description: 'Scope: `guests:write`. 201 se nasce, 200 se il telefono c''era gia'' (i campi mandati
        si scrivono) o se la stessa Idempotency-Key ritrova la richiesta di prima.'
      operationId: upsertGuest
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: La stessa chiave ripetuta ritrova la risorsa invece di crearne un'altra
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'Il telefono, qualunque forma: diventa E.164'
                name:
                  anyOf:
                  - type: string
                    description: Il nome come lo si chiama
                    maxLength: 200
                  - type: 'null'
                firstName:
                  anyOf:
                  - type: string
                    description: Nome
                    maxLength: 100
                  - type: 'null'
                lastName:
                  anyOf:
                  - type: string
                    description: Cognome
                    maxLength: 100
                  - type: 'null'
                email:
                  anyOf:
                  - type: string
                    description: Email
                    maxLength: 254
                  - type: 'null'
                allergies:
                  anyOf:
                  - type: string
                    description: Allergie
                    maxLength: 2000
                  - type: 'null'
                notes:
                  anyOf:
                  - type: string
                    description: Note
                    maxLength: 2000
                  - type: 'null'
                externalRef:
                  anyOf:
                  - type: string
                    description: Il tuo identificativo, unico nell'organizzazione
                    maxLength: 200
                  - type: 'null'
              required:
              - phone
      responses:
        '200':
          description: Aggiornato o ritrovato
          content:
            application/json:
              schema:
                type: object
                properties:
                  guest:
                    $ref: '#/components/schemas/Guest'
                required:
                - guest
        '201':
          description: Creato
          content:
            application/json:
              schema:
                type: object
                properties:
                  guest:
                    $ref: '#/components/schemas/Guest'
                required:
                - guest
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: conflict, idempotency_in_progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: idempotency_key_reused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guests/lookup:
    get:
      tags:
      - Ospiti
      summary: Cerca un ospite dal telefono
      security:
      - apiKey: []
      x-required-scope: guests:read
      description: 'Scope: `guests:read`'
      operationId: lookupGuest
      parameters:
      - name: phone
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    found:
                      const: true
                    guest:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        phone:
                          type: string
                          description: E.164
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                        allergies:
                          anyOf:
                          - type: string
                          - type: 'null'
                        notes:
                          anyOf:
                          - type: string
                          - type: 'null'
                        visitCount:
                          type: integer
                        noShowCount:
                          type: integer
                      required:
                      - id
                      - phone
                      - name
                      - allergies
                      - notes
                      - visitCount
                      - noShowCount
                  required:
                  - found
                  - guest
                - type: object
                  properties:
                    found:
                      const: false
                    phone:
                      type: string
                      description: E.164
                  required:
                  - found
                  - phone
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guests/{id}:
    get:
      tags:
      - Ospiti
      summary: La scheda di un ospite
      security:
      - apiKey: []
      x-required-scope: guests:read
      description: 'Scope: `guests:read`'
      operationId: getGuest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guest:
                    $ref: '#/components/schemas/Guest'
                required:
                - guest
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Ospiti
      summary: Modifica la scheda, i consensi e i tag di campagna
      security:
      - apiKey: []
      x-required-scope: guests:write
      description: 'Scope: `guests:write`. null o "" toglie un campo. consents e campaignTags sono di
        SQUADD quando e'' collegato all''organizzazione: in quel caso 403.'
      operationId: updateGuest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: If-Match
        in: header
        required: false
        description: 'L''updatedAt letto: la modifica passa solo se nessuno ha scritto dopo'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: Il telefono nuovo, unico nell'organizzazione
                name:
                  anyOf:
                  - type: string
                    description: Il nome come lo si chiama
                    maxLength: 200
                  - type: 'null'
                firstName:
                  anyOf:
                  - type: string
                    description: Nome
                    maxLength: 100
                  - type: 'null'
                lastName:
                  anyOf:
                  - type: string
                    description: Cognome
                    maxLength: 100
                  - type: 'null'
                email:
                  anyOf:
                  - type: string
                    description: Email
                    maxLength: 254
                  - type: 'null'
                allergies:
                  anyOf:
                  - type: string
                    description: Allergie
                    maxLength: 2000
                  - type: 'null'
                notes:
                  anyOf:
                  - type: string
                    description: Note
                    maxLength: 2000
                  - type: 'null'
                externalRef:
                  anyOf:
                  - type: string
                    description: Il tuo identificativo, unico nell'organizzazione
                    maxLength: 200
                  - type: 'null'
                consents:
                  type: object
                  description: I consensi, sostituiti per intero
                campaignTags:
                  type: array
                  description: I tag di campagna, sostituiti per intero
                  maxItems: 100
                  items:
                    type: string
                    minLength: 1
                    maxLength: 100
                version:
                  type: string
                  description: 'In alternativa a If-Match: l''updatedAt letto'
                  format: date-time
              required: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guest:
                    $ref: '#/components/schemas/Guest'
                required:
                - guest
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Ospiti
      summary: Manda l'ospite nel Cestino (30 giorni, poi esce davvero)
      security:
      - apiKey: []
      x-required-scope: guests:write
      description: 'Scope: `guests:write`'
      operationId: deleteGuest
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Nel Cestino
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guests/{id}/tags:
    put:
      tags:
      - Ospiti
      summary: Imposta i tag di servizio
      security:
      - apiKey: []
      x-required-scope: guests:write
      description: 'Scope: `guests:write`. I nomi vengono dal catalogo (GET /service-tags); [] li toglie
        tutti.'
      operationId: setGuestServiceTags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceTags:
                  type: array
                  description: I nomi dei tag, dopo sono esattamente questi
                  maxItems: 50
                  items:
                    type: string
                    minLength: 1
                    maxLength: 100
              required:
              - serviceTags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guest:
                    $ref: '#/components/schemas/Guest'
                required:
                - guest
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guests/{id}/service-card:
    get:
      tags:
      - Ospiti
      summary: 'La scheda di servizio: nome, allergie, tag'
      security:
      - apiKey: []
      x-required-scope: guests:read
      description: 'Scope: `guests:read`'
      operationId: getGuestServiceCard
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceCard:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                      allergies:
                        anyOf:
                        - type: string
                        - type: 'null'
                      allergens:
                        type: array
                        items:
                          type: string
                          enum:
                          - gluten
                          - crustaceans
                          - eggs
                          - fish
                          - peanuts
                          - soybeans
                          - milk
                          - nuts
                          - celery
                          - mustard
                          - sesame
                          - sulphites
                          - lupin
                          - molluscs
                      serviceTags:
                        type: array
                        items:
                          type: string
                    required:
                    - id
                    - name
                    - allergies
                    - allergens
                    - serviceTags
                required:
                - serviceCard
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: not_found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events:
    get:
      tags:
      - Eventi e report
      summary: Lo storico degli eventi, nella busta del webhook
      security:
      - apiKey: []
      x-required-scope: events:read
      description: 'Scope: `events:read`'
      operationId: listEvents
      parameters:
      - name: limit
        in: query
        required: false
        description: Righe per pagina
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: cursor
        in: query
        required: false
        description: Il nextCursor della risposta precedente
        schema:
          type: string
      - name: since
        in: query
        required: false
        description: Solo gli eventi dopo questo istante
        schema:
          type: string
          description: Istante ISO 8601 con fuso
          format: date-time
      - name: type
        in: query
        required: false
        description: Uno o piu' tipi
        schema:
          type: array
          items:
            type: string
            enum:
            - reservation_created
            - reservation_confirmed
            - reservation_modified
            - reservation_cancelled
            - guest_arrived
            - guest_seated
            - table_released
            - reservation_late
            - reservation_no_show
            - meal_completed
            - waitlist_entry_created
            - compatible_table_freed
            - guest_profile_changed
            - waitlist_entry_cancelled
            - reservation_needs_attention
        style: form
        explode: true
      - name: venueId
        in: query
        required: false
        description: Solo questo locale
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  nextCursor:
                    anyOf:
                    - type: string
                    - type: 'null'
                required:
                - data
                - nextCursor
        '400':
          description: invalid_request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: unauthenticated, api_key_invalid, api_key_revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: forbidden, insufficient_scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: rate_limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports/period:
    get:
      tags:
      - Eventi e report
      summary: Il consuntivo di un periodo, un giorno per riga
      security:
      - apiKey: []
      x-required-scope: reports:read
      description: 'Scope: `reports:read`'
      operationId: getPeriodReport
      parameters:
      - name: venueId
        in: query
        required: true
        description: Il locale
        schema:
          type: string
          format: uuid
      - name: from
        in: query
[...]
